<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../static/css/Accueil.css" rel="stylesheet" type="text/css">
    <title>Projet Forum</title>
</head>
{{ template "header" }}
<body>
    
    <div id="Posts">
        <form method="POST" class="form">
            <!-- <textarea class="textarea" type="text" placeholder="Que voulez vous postez ?" name="PostValue" class="WritePost" required></textarea> -->
            <input class="textarea" type="text" placeholder="Que voulez vous postez ?" name="PostValue" class="WritePost" required>
            <input type="submit" placeholder="Oui" required>
        </form>

        {{ range . }}
        <div class="post1">
            {{ .UserName }} a dit :
            <div class="contourPost">
                {{ .Post }} <br>
            </div> 
            <p id="date"> à {{ .Date }}</p>
        </div>
        {{ end }}
    </div>

    <div id="Filter-Bloc">

    </div>    

</body>


</html>