<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../static/css/Accueil.css" rel="stylesheet" type="text/css">
    <script src="../static/js/accueil.js" async></script>
    <title>Projet Forum</title>
</head>
{{ template "header" . }}
<body>
    
    <div id="Posts">
        
        <form method="POST" class="form">
            
            <textarea name="PostValue" class="textarea" placeholder="Que voulez vous poster ?" cols="30" rows="10" required></textarea>
            <input type="text" name="categorie" class="categorie" placeholder="Ajoutez une catégorie" >
            <input type="submit" class="boutonEnvoyer" value="Publier"required>
            
        </form>
        
        {{ range .Data }}
        <div class="post1">
            <div class="topPost">
                {{ .UserName }} a dit :
            </div>
            <div class="contourPost">
                <p>{{ .Post }} </p>
            </div> 
            <div class="Bottom-Post">
                <p id="date"> à {{ .Date }}</p>
                <textarea hidden name="respond">{{ .ID }}</textarea>
                <button class="CommsBtn" name="ForId" onclick="TogglePopup('popupBox-{{ .ID }}')">Répondre 💬</button>
                <div id="like">
                    <form method="POST">
                        <p>{{ .NbLike }} Like(s)</p>
                        <button class="like"> ❤️</button>
                        <textarea hidden name="like">{{ .ID }}</textarea>
                    </form> 
                    <form method="POST">
                        <button class="dislike"> 👎</button>
                        <textarea hidden name="Dislike">{{ .ID }}</textarea>
                    </form> 
                </div>
            </div>
            <div class="popup-box" id="popupBox-{{ .ID }}" hidden>
                <div class="popup-content">
                    <div class="Post-Content">
                        <span class="close" onclick="TogglePopup('popupBox-{{ .ID }}')">&times;</span>
                        <form method="POST" class="WriteComment">
                            <input hidden name="IdComment" value="{{ .ID }}">
                            <textarea placeholder="Que voulez-vous commenter ?" name="commentaire" class="textarea2" cols="100" rows="10"></textarea>
                            <input type="submit" class="boutonEnvoyer" value="Publier"required>
                        </form>
                        <div class="Post">
                            <div class="TopPost">
                                {{ .UserName }} a dit : 
                            </div>
                            <div class="ContourPost">
                                {{ .Post }} 
                            </div>
                            <p id="date">{{ .Date }}</p>
                        </div> 
                    </div>
                    <div class="Comment-Content">
                        {{ range .CommentArr }}
                        <div class="comment">
                            <div class="pseudo">
                                {{ index . 0 }} a répondu : 
                            </div>
                            <div class="content">
                                {{ index . 1 }}
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ end }}
        
    </div>
    <div id="pagination"></div>
    <div id="Filter-Bloc"></div>    
</body>


</html>