<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../static/css/connexion.css" rel="stylesheet" type="text/css">
    <title>Merdit</title>
</head>

<body>
    {{ template "header" }}
    <div id="Connexion">
        <div id="Titre">
            <p class="connexion">Connexion</p>
        </div>
        <form action="/connexion" method="POST" class="form">
            
            <div id="Input-container">
                <input type="text" name="pseudoConnnexion" placeholder="Pseudo" class="Input-type" required>
                <input type="password" name="mdpConnexion" placeholder="Mot de passe" class="Input-type" required>
            </div>
            <div id="buttonValidation">
                <button class="Identification" type="submit">S'identifier</button>
            </div>
            
        </form>
        
    </div>
</body>
</html>