{{define "header"}}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../static/css/header.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="../src/js/Header.js"></script>
</head>

<body>
    <div id="Contener">
        <div id="left-header">
            <a href="/"><img src="../static/img/1 logov.png" alt="Le logo" class="logo"></a>
        </div>

        <div id="Title">    
            <p class="Title">Projet Forum</p>
        </div>

        <div id="Right-header">
            <button class="button1">Inscription</button>
            <button class="button2">Connexion</button>
            <div id="UserInfos">
                <img src="../static/img/SHEEEEEESH.PNG" alt="PP user" class="PP">
                <label>Tao Bourmaud</label>
            </div>

        </div>
    </div>
</body>

{{end}}