<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="../static/css/inscription.css" rel="stylesheet" type="text/css">
        <title>Merdit</title>
    </head>

    <body>
        {{ template "header" }}
        <div id="Inscription">
            <div id="Titre">
                <p class="inscription">Inscription</p>
            </div>
            <form action="/inscription" class="form">
                <div id="Input-container">
                    <input type="text" placeholder="Pseudo" class="Input-type">
                    <input type="text" placeholder="E-mail" class="Input-type">
                    <input type="password" placeholder="Mot de passe" class="Input-type">
                </div>
                <div id="buttonValidation">
                    <button class="Identification">S'inscrire</button>
                </div>
            </form>
        </div>
    </body>
</html>