<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../static/css/inscription.css" rel="stylesheet" type="text/css">
    <title>Merdit</title>
</head>

<body>
    {{ template "header" }}
    <div id="Inscription">
        <div id="Titre">
            <p class="Inscription">Inscription</p>
        </div>
        <form action="/inscription" method="POST" class="form">
            <div id="Input-container">
                <input type="text" name="pseudoInscription" placeholder="Pseudo" class="Input-type" required>
                <input type="text" name="emailInscription" placeholder="E-mail" class="Input-type" required>
                <input type="password" name="mdpInscription" placeholder="Mot de passe" class="Input-type" required>
                <p class="conditionInscription"> • Minimum un caractère spécial
                    <br> • Au moins 2 majuscule
                    <br> • Au moins 2 minuscule 
                    <br> • Au moins 2 chiffres
                </p>
            </div>
            <div id="buttonValidation">
                <button class="Identification" type="submit">S'inscrire</button>
                <button class ="verifInscription" onclick="window.location.href='/connexion'"> Déja inscrit ? </button>
            </div>
        </form> 
    </div>
</body>

</html>