 <html lang="en">

 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postes</title>
    <link rel="stylesheet" href="../static/css/pop-up.css">
    <script src="../src/js/pop-up.js"></script> 
</head>
<body>
    <button id="BtnPopUP" onclick="test()" class="BtnPopUP"> Afficher Pop UP</button>

    <div id="overlay" class="overlay">
      <div id="popup" class="popup">

        <h2>
          exemple simple de pop up
          <span id="btnclose" class="btnclose">&times;</span>

        </h2>
        <p>rg irrh jodh roj hopgjperjpg jpeo oj pdj oj opjfdogjfdnvirdgnfdnviond nvoidnoirnv on odn orn oidrn foidnviornozppgazr or</p>
      </div>
    </div>

   

</body>
</html>