<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="../static/css/popup.css" rel="stylesheet" type="text/css">

<html>
<title>Titre du document</title>
</head>
<body>
        <h2>Pop up pour créer et publier des posts.</h2>
        
        <div class="open-btn">
                <button class="open-button" onclick="openForm()">Créer un Post !</button>
        </div>
        <div class="login-popup">
                <div class="form-popup" id="popupForm">
                        <form action="/action_page.php" class="form-container">                 
                                <input type="text" id="msg" placeholder="Votre Message" name="message" required>                       
                                <button type="submit" class="btn">Publier</button>                                                    
                                <button type="button" class="btn cancel" onclick="closeForm()">❌</button>
                        </form>
                </div>
        </div>
        <script>
                function openForm() {
                        document.getElementById("popupForm").style.display="block";
                }
                
                function closeForm() {
                        document.getElementById("popupForm").style.display="none";
                }
        </script>
</body>
</html>