<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="../static/css/profil.css" rel="stylesheet" type="text/css">
        <title>Merdit</title>
    </head>

    <body>
        {{ template "header" }}
        <div id="MyAccount">
            <p class="Titre">Mon Profil</p>
            <div id="UserInfo">
                <div id="UserPhoto">
                    <img src="../static/img/SHEEEEEESH.PNG" alt="PP">
                    <div id="infos">
                        <p>Votre Pseudo : KarimDu92</p>
                        <p>Votre Email : KB_92@gmail.bled</p>
                        <p>Votre mot de passe : ********</p>
                    </div>
                </div>
                <div id="MyLikes&Posts">
                    <label>Mes Likes</label> <img src="../static/img/like.PNG" alt="Poce Blo">
                    <label>Mes Posts</label> <img src="../static/img/Posts.PNG" alt="Posts">
                </div>
            </div>
        </div>
    </body>
</html>