<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="../static/css/userLikes.css" rel="stylesheet" type="text/css">
    <title>Merdit</title>
</head>

<body>
    {{ template "header" }}
    
    <div id = "MyLikes">
        <h1> Mes Likes</h1>
        {{ range . }}
        <div id="Post">
            <div class="TopPost">
                <p id = "text">Vous avez liké :</p>             
            </div>
            <div id = "contourPost">
                {{ .Post }} 
            </div>
            <p id="date"> {{ .Date }}</p>
        </div> 
        {{ end }} 
    </div>
</body>
</html>