#entete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: red;
}


#Posts {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: aquamarine;
}