#Posts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body {
    background-color: #0D748B;
}
.Titre {
    position: absolute;
    width: 389px;
    height: 71px;
    left: 280px;
    top: 7px;
    font-family: Rock Salt;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 95px;
    color: #010101;
}

.textarea {
    height: 50px;
    border-radius: 10px;
    resize: none;
}

.categorie {
    height: 50px;
    border-radius: 10px;
}

.boutonEnvoyer {
    height: 30px;
    border-radius: 10px;
}


.post1 {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: x-large;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    border: 10px solid #5BC7D6; 
}

.topPost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.suppression {
    background-color: white;
    color: #5BC7D6;
    border: none;
}

.suppression:hover {
    background-color: black;
    color: white;
}

.contourPost {
    display: flex;
    background-color: #0D748B;
    color: white;
    border-radius: 10px;
    margin-left: 10%;
    width: 80%;
    height: auto;
    border-width: thick;
    border: 2px solid black;
    margin-top: 5%;
}

#date {
    margin-left: 50%;
}

.like {
    display: flex;
    flex-direction: row;
    margin-left: 50%;
}

#categorie {
    display: flex;
    /* margin-left: 40%; */
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}