#Contener {
    background-color: #2A2885;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-header {
    height: 15vh;
}

.logo {
    height: 15vh;
    width: 20vh;
}

#Title {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.Title {

font: 900;
font-size: 10vh;
color : white;

}

#Right-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 15vh;
    width: 33%;
}

#UserInfos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 15vh;
}

.PP {
    height: 10vh;
    width: 10vh;
}

.button1,
.button2 {
    height: 7vh;
    width: 20vh;
    margin-top: 5vh;
    border-radius: 45px;
    background-color: #5BC7D6;
    color: white;
    font-size: x-large;
}