 		* {
                       box-sizing: border-box;
                }
                body {
                        background-color: #0D748B;
                }
                /* Fixez le bouton sur le côté gauche de la page the button on the left side of the page */
                .open-btn {
                        display: flex;
                        justify-content: left;
                }
                /* Stylez et fixez le bouton sur la page */
                .open-button {
                        background-color: #1c87c9;
                        color: white;
                        padding: 12px 20px;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        opacity: 0.8;
                        position: fixed;                     
                }
                
                /* Positionnez la forme Popup */
                .login-popup {
                        position: relative;
                        text-align: center;
                        width: 100%;
                }
                /* Masquez la forme Popup */
                .form-popup { 
                        left: 45%;
                        top: 5%;
                        display: none;                                            
                        z-index: 9;                      
                        background-color: #fff;
                        border-radius: 45px;
                        border: 2px solid #5BC7D6;
                        margin-left: 50%;                      
                        transform: translate(-45%,5%);
                        font-size: xx-large;           
                        position: fixed;                       
                }                 
                
                .form-container {
                        max-width: 300px;
                        padding: 20px;
                        background-color: #fff;
                }
                
                /* Largeur complète pour les champs de saisie */
                .form-container input[type=text], .form-container input[type=password] {
                        width: 100%;
                        padding: 10px;
                        margin: 5px 0 22px 0;
                        border: none;
                        background: #eee;
                }
                /* Quand les entrées sont concentrées, faites quelque chose */
                .form-container input[type=text]:focus, .form-container input[type=password]:focus {
                        background-color: #ddd;
                        outline: none;                   
                }
                
                /* Stylisez le bouton "publier" */
                .form-container .btn {                    
                        background-color: #5BC7D6; 
                        color: white;
                        border-radius: 30px;
                        height: 50px;
                        width: 10%;
                        font-size: medium;
                        position: relative;
                        top: 100px;                  
                        padding: 12px 20px;
                        cursor: pointer;
                        margin-bottom: 10px;
                        opacity: 0.8;
                }
                
                
                
                /* Stylisez le bouton "annuler" */
                .form-container .cancel {
                        background-color: #808080;
                        position: absolute;                                                  
                } 
                /* Placez les effets pour les boutons */
                .form-container .btn:hover, .open-button:hover {
                        opacity: 1;
                }