body {
    background-color: #0D748B;
}

#MyPosts {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#Post {
    background-color: white;
    border-radius: 10px;
    color: black;
    font-size: x-large;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    margin-bottom: 2%;
    border: 10px solid #5BC7D6;
}

#contourPost {
    display: flex;
    background-color: #0D748B;
    color: white;
    border-radius: 10px;
    margin-left: 10%;
    width: 80%;
    height: auto;
    border-width: thick;
    border: 2px solid black;
    margin-top: 5%;
    margin-bottom: 5%;
    /* font-family:; */
}